.text-type {
  display: inline-block;
  white-space: pre-wrap;
  /* Anti-flicker / GPU hints for text animations */
  will-change: opacity, transform, color;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
